body {
  margin: 0;
  padding: 0;
}

#plans {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
}

p {
  margin:0;
}

.finished {
  text-decoration: line-through;
}

#addingPlan {
  display: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin: 40px auto 0; 
}

.all {
  margin-top: 10px;
}



.update, .cross {
  cursor: pointer;
}

.cross {
  background-color: skyblue;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 12px;
  width: 60px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.errorSentence {
  color: red;
}